# Ignorar carpeta .vscode completa
.vscode/

# Ignorar archivos de configuración de VSCode con extensión .code-workspace
*.code-workspace

# Ignorar carpeta .idea completa
.idea/

# Local Netlify folder
.netlify
