@tailwind base;
@tailwind components;
@tailwind utilities;
@import "nightwind/preflight.css";

/* Reset box sizing y quitar márgenes/paddings */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body con fondo y overflow */
body {
  background-color: #CCFBFE; /* color cyan claro */
  overflow: hidden;
  font-family: sans-serif;
}


